{% extends 'layout.html' %}

{%block title%}
    Articles
{%endblock%}

{%block content%}
   <div>
   <table>
         <tr>
            <td>
               <img src='static/images/circled_arrow_small.png'/>
            </td>
            <td>
               <b style='font-size: 20px;color: #FF0303'>Pharma Spectrum Articles</b>
            </td>
         </tr>
       </table>
  </div>
  <div id='adds'>
    <div style='width:469px;float: left;'>
     <script type="text/javascript"><!--
google_ad_client = "ca-pub-8337091840955360";
/* Banner */
google_ad_slot = "8822722654";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    </div>
    
    <div style='width:469px;float: right;'>
     <script type="text/javascript"><!--
google_ad_client = "ca-pub-8337091840955360";
/* Banner */
google_ad_slot = "8822722654";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    </div>
    
    
    <div style='clear: both'>
      
    </div>
  </div>  
  
{%endblock%}

{%block script%}
    <script>
        
    </script>
    {%endblock%}